@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #844adb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6926ce;
  cursor: pointer;
}

.five-section-slider .owl-item.active.center {
  position: relative;
  /* width: 500px !important; */
}

.five-section-slider .owl-item.active.center:before {
  content: "";
  position: absolute;
  border-radius: 0 0 20px 20px;
  background: #fff;
  z-index: 999;
  width: calc(100% + 100px);
  bottom: -5px;
  left: -50px;
  height: 12px;
}

.five-section-slider .owl-item.active.center:after {
  content: "";
  position: absolute;
  width: 140px;
  left: 50%;
  margin-left: -70px;
  border-radius: 5px;
  background: #e4eaf6;
  z-index: 999;
  height: 4px;
  bottom: 6px;
}

.five-section-slider .owl-item.active.center img {
  border: 20px solid #ffffff;
  border-radius: 15px;
  background-color: #f3f6fd;
  /* height: 370px; */
}

.owl-carousel {
  padding-top: 50px;
  position: relative;
  .owl-dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 5px;
    .owl-dot {
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: black;
      }
    }
  }
}
